@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Syne", sans-serif;
  /* border: 2px solid red; */
}
:root {
  --bg-hero: rgb(255, 233, 217);
  --bs-yellow: rgb(255, 181, 69);
}
.hero_wrapper {
  background: var(--bg-hero);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero_image {
  position: absolute;
  right: -150px;
  top: 0;
}
.header {
  border-bottom: 1px solid black;
  position: relative;
  z-index: 1;
  padding: 6px 0;
}
.nav_list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  gap: 40px;
}
.nav_list ul li {
  list-style: none;
}
.nav_list ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.logo {
  height: 70px;
  width: 66px;
}

.logo img {
  height: 100%;
  width: 100%;
}
.rotate {
  position: absolute;
  bottom: 20px;
  right: 40px;
  height: 100px;
  width: 100px;
  background: rgb(183, 168, 141);
  border-radius: 50%;
  padding: 8px;
  animation: animateSpin 7s linear infinite;
}
@keyframes animateSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.rotate img {
  width: 100%;
  height: 100%;
}
.hero_title p {
  font-size: 32px;
}
.iam-designer {
  font-size: 24px !important;
}
.hero_title h1 {
  font-size: 120px;
  line-height: 115px;
}
.circle-shape {
  position: relative;
  z-index: 1;
  display: inline-block;
  cursor: none;
}
.circle-shape::before {
  position: absolute;
  top: -5px;
  left: -15px;
  z-index: -1;
  content: "";
  display: block;
  background-color: #ffb646;
  border-radius: 100%;
  width: 80px;
  height: 80px;
}
.btn2 button,
.custome_btn button {
  margin-right: 8px;
  padding: 15px 28px !important;
  border: 1px solid rgba(8, 8, 8, 0.4);
  font-weight: 700;
  font-size: 15px;
  background-color: #080808;
  color: #ffffff;
  text-transform: capitalize;
  line-height: 1;
  border-radius: 8px;
  transition: all 0.5s;
}
.btn2 button {
  background-color: transparent;
  border-color: rgba(8, 8, 8, 0.4);
  color: rgba(8, 8, 8, 0.95);
}
.btn2 button:hover {
  border: 1px solid rgba(8, 8, 8, 0.4) !important;
  background-color: #080808 !important;
  color: #ffffff !important;
}
.custome_btn button:hover {
  background-color: transparent;
  border-color: rgba(8, 8, 8, 0.4);
  color: rgba(8, 8, 8, 0.95);
}
.custome_btn button:hover .fa-arrow-right {
  /* color: red !important; */
  /* transition: trans 10s linear; */
  /* transform: translateX(40px); */
}
/* @keyframes trans {
  0%{
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(105deg);
  }
} */
.pointer {
  position: fixed;
  cursor: none;
  top: 30px;
  left: 30px;
  z-index: 99;
  height: 40px;
  width: 40px;
  background: #ffb646;
  border-radius: 50%;
  display: none;
  mix-blend-mode: color-dodge;
}
.fa-arrow-right {
  transform: rotate(-45deg);
}

.section-title {
  font-size: 64px;
  position: relative;
  line-height: 75px;
  font-weight: 700;
}
.Recent{
  font-size: 50px !important;
}
.details-title {
  font-size: 58px !important;
  letter-spacing: -1.5px;
  line-height: 1;
  font-weight: 700;
}
.featured-properties {
  background-color: rgba(8, 8, 8, 0.04);
}
.section-title::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  display: block;
  background-color: #ffb646;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
.based-in-german-title {
  font-size: 44px;
}

.service-card {
  padding: 28px 24px;
  background-color: rgba(8, 8, 8, 0.04);
  border-radius: 8px;
  transition: all 0.3s;
}
.service-icon {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
  border-radius: 100%;
  transition: all 0.3s;
}
.service-card:hover {
  background-color: #ffffff;
  box-shadow: 0px 36px 100px 0px rgba(8, 8, 8, 0.15);
}
.service-card-link {
  text-decoration: none;
  color: #080808;
  font-size: 20px;
  line-height: 28px;
}
.service-card:hover a {
  color: #ff9330;
}
.service-contact-card {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 36px;
  padding-bottom: 36px;
  max-width: 416px;
  height: 100%;
  position: relative;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.363);
}

.image_slide {
  max-width: 450px;
  width: 100%;
}
.image_slide img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* ---Search css ------------ */
/* .select_wrapper {
  padding: 10px;
  position: relative;
  width: 100%;
}
.select_btn {
  position: relative;
  border: 1px solid rgb(202, 201, 201);
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.fa-sort-down {
  position: absolute;
  top: 12px;
  right: 20px;
  z-index: 99;
}
.option_wrapper {
  margin-top: 13px;
  box-shadow: 0 0 5px rgb(193, 193, 193);
  display: none;
}
.show_option {
  position: absolute;
  top: 52px;
  display: block;
  z-index: 99;
  background: #ffffff;
  width: 100%;
  border-radius: 5px;
}

.seaech_box {
  position: relative;
  background: #ffffff;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.seaech_box input {
  width: 100%;
  padding: 10px 10px 10px 50px;
  border-radius: 4px;
  border: 1px solid rgb(194, 193, 193);
}
.seaech_box input:focus {
  outline: 1px solid gray;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0);
}
.fa-magnifying-glass {
  position: absolute;
  top: 25px;
  left: 30px;
  color: rgb(140, 139, 139);
}
.option {
  padding: 0;
  margin: 0;
  height: 215px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgb(183, 181, 181);
  border-radius: 15px;
}

.option li {
  list-style: none;
  margin: 0 10px 0 10px;
  padding: 8px 13px;
  border: 1px solid #ffffff00;
  border-radius: 6px;
  cursor: pointer;
}
.option li:hover {
  background: #f3f2f2;
  border: 1px solid #fff;
} 
  */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_wrapper {
  position: relative;
}
.experience {
  position: absolute;
  bottom: 0px;
  right: 30px;
  z-index: 1;
}
.two {
  position: relative;
  font-size: 35px;
  font-weight: 900;
  font-family: sans-serif !important;
}
.two {
  position: absolute;
  content: "";
  top: 0%;
  left: 0;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background: #ffb646;
  z-index: -1;
}

.Year {
  margin-top: 20px;
  font-family: "Syne", sans-serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.5px;
  color: white;
  text-shadow: 1px 1px 0 rgba(142, 10, 10, 0.4),
    -1px -1px 0 rgba(167, 26, 26, 0.4), 1px -1px 0 rgba(155, 16, 16, 0.4),
    -1px 1px 0 rgba(8, 8, 8, 0.4), 1px 1px 0 rgba(8, 8, 8, 0.4);
}
.btn_list li {
  list-style: none;
  background: #ffffff;
  margin-bottom: 10px;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
.btn_list li::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 1.4%;
  background: #080808;
  transition: 0.5s ease-in-out;
  z-index: -4;
}
.btn_list li:hover::after {
  width: 100%;
}
.btn_list li.active,
.btn_list li:hover {
  background: #080808;
  color: #ffffff;
}
.tabcontant .content {
  display: none;
}
.tabcontant .show {
  display: block;
}
.tab_wrapper {
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
}
.tab_inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px; /* Optional: adds space between the grid items */
}
.tab_inner1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 13px; /* Optional: adds space between the grid items */
}
.tab_inner_Skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 13px; /* Optional: adds space between the grid items */
}
.experience-tab-item {
  padding-top: 30px;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: rgba(8, 8, 8, 0.04);
  border-radius: 16px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.experience-tab-item:hover {
  box-shadow: 0px 36px 100px 0px rgba(8, 8, 8, 0.05);
  background-color: #ffffff;
}
.text-mute {
  width: 110px;
  color: rgba(8, 8, 8, 0.8);
  font-size: 18px;
  line-height: 1;
  font-weight: 400 !important;
}
.text_style {
  font-size: 20px;
  line-height: 34px;
  color: rgb(8 8 8);
  font-weight: 700;
}
.ham_btn{
  height: 40px;
  width: 40px;
  border: 2px solid red;
  display: none;
}
.work_bg{
  background: rgb(255, 233, 217);
  position: relative;
  z-index: -1;
}
.work_img{
  background:#ffffff;
  border-radius: 10px;
}

@media only screen and (max-width: 1098px) {
  .hero_image {
    display: none;
  }
  .circle-shape {
    z-index: initial !important;
  }
}
@media only screen and (max-width: 998px) {
  .nav_list {
    position: fixed;
    top: 0;
    left: -100%;
    background: #080808;
    width: 70%;
    height: 100vh;
    z-index: 99999;
    padding: 25px;
    transition: 0.5s ease-in-out;
  }
  .ham_btn{
    display: block;
  }
  .mobile{
    left: 0;
  }
  .tab_inner1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 13px;
  }
  .nav_list ul {
    display: initial;
    padding: 0;
  }
  .nav_list ul li {
    margin-bottom: 10px;
  }
  .nav_list ul li a {
   color: #ffffff;
   font-weight: 600;
   font-size: 18px;
}
.nav_list ul li a:hover{
  color: #ff9330;
}
}

@media only screen and (max-width: 778px) {
  .hero_title h1 {
    font-size: 75px;
    line-height: 90px;
  }
  .section-title {
    font-size: 38px;
    line-height: 54px;
  }
  .based-in-german-title {
    font-size: 35px;
  }
  .text_style {
    font-size: 16px;
  }
}
